<div
id="title"
class="
  row
  mt-4
  justify-content-center
  text-dark
  fw-bold
"
>
  {{"Inicio de sesión" | upperCase}}
</div>

<form
  class="container
  justify-content-center
  p-4"
  [formGroup]="formData"
  (ngSubmit)="onClickSubmit(formData.value)"
>


  <div
    class="
      row mt-1
    "
  >

  <div class="col-2"></div>
  <p
  class="col col-4">
    Usuario/Email:
  </p>
  <input
    type="text"
    class="col"
    formControlName="input"
  >
  <div class="col-2"></div>
  </div>

  <div
    class="row mt-4"
  >
  <div class="col-2"></div>
  <p
  class="col col-4">
    Contraseña:
  </p>
  <input
    type="password"
    class="col"
    formControlName="password"
  >
  <div class="col-2"></div>
  </div>

  <div
    class="row mt-4"
  >
  <div class = col></div>
  <input
    type="submit"
    class="
      d-flex
      justify-content-center
      col
      col-3
    "
  >
  <div class="col"></div>

  </div>


</form>

<div class="row">
  <shared-loading-spinner
    *ngIf="isLoading"
  ></shared-loading-spinner>
</div>
