<div
id="title"
class="
  row
  mt-4
  justify-content-center
  text-dark
  fw-bold
"
>
{{"Registro de usuario" | upperCase}}
</div>

<form
class="container
  justify-content-center
  p-4"
[formGroup]="formData"
(ngSubmit)="onClickSubmit(formData.value)"
>
  <div
    class="row mt-1"
  >

  <div class="col-2"></div>
  <p
  class="col col-4">
    Usuario:
  </p>
  <input
    type="text"
    class="col"
    formControlName="user"
  >
  <div class="col-2"></div>
  </div>

  <div
    class="row mt-4"
  >
  <div class="col-2"></div>
  <p
    class="col col-4">
    Email:
  </p>
  <input
    type="text"
    class="col"
    formControlName="email"
  >
  <div class="col-2"></div>
  </div>

  <div
    class="row mt-4"
  >
  <div class="col-2"></div>
  <p
  class="col col-4">
    Contraseña:
  </p>
  <input
    type="password"
    class="col"
    formControlName="password"
  >
  <div class="col-2"></div>
  </div>

  <div
    class="row mt-4"
  >
  <div class="col"></div>
  <input
    type="submit"
    class="
      d-flex
      justify-content-center
      col
      col-3
    "
  >
  <div class="col"></div>
  </div>
</form>

<ng-container [ngSwitch]="creationState">
  <div *ngSwitchCase="CreationState.NotCreated">
    <p class = "text-warning">
      El usuario no pudo ser creado
    </p>
  </div>

  <div *ngSwitchCase="CreationState.Created">
    <p class = "text-warning">
      Usuario creado correctamente
    </p>
  </div>
</ng-container>

