<div
  id="table"
  class="
    col
    justify-content-center
    container
    bg-danger
    text-center
    text-white
    margin-auto
    p-0
  "
>

  <div
    id="buttons"
    class="
      row
    "
  >
    <button
      class="
        col
        btn
        btn-outline-secondary
      "
      [ngClass]="
        { 'btn-dark': selected === 'Sign in' }
      "

    >
      Sign in
    </button>
    <button
      class="
        col
        btn
        btn-outline-secondary
      "
      [ngClass]="
        { 'btn-outline-dark': selected === 'Sign out' }
      "
    >
      Sign Up
    </button>
  </div>

  <div
    id="title"
    class="
      row
      mt-4
      justify-content-center
      text-warning
      fw-bold
    "
  >
    REGISTRO DE USUARIO
  </div>

  <form
    class="container
      justify-content-center
      p-4"
    [formGroup]="formData"
    (ngSubmit)="onClickSubmit(formData.value)"
  >
      <div
        class="row mt-1"
      >

      <p
      class="col">
        Usuario:
      </p>
      <input
        type="text"
        class="col"
        formControlName="user"
      >
      </div>

      <div
        class="row mt-4"
      >
      <p
        class="col">
        Email:
      </p>
      <input
        type="text"
        class="col"
        formControlName="email"
      >
      </div>

      <div
        class="row mt-4"
      >
      <p
      class="col">
        Contraseña:
      </p>
      <input
        type="password"
        class="col"
        formControlName="password"
      >
      </div>

      <div
        class="row mt-4"
      >
      <input
        type="submit"
        class="col"
      >
      </div>
  </form>

</div>
