<div class="row mt-4">

  <div class="col-3">
    <shared-sidebar></shared-sidebar>
  </div>

  <div class="col mt-2 text-center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ "id" | upperCase }}</th>
          <th>{{ "Usuario" | upperCase }}</th>
          <th>{{ "Email" | upperCase }}</th>
          <th>{{ "Gif" | upperCase }}</th>
          <th>{{ "Acción" | upperCase}}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of getOtherUsers"
        >
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <img
                src={{user.favGifUrl}}
                alt='No hay gif'
                height="32"
                width="32"
                (click)="chargeLink(user.favGifUrl)"
              >
            </td>
            <td>
              <button
                aria-label="Mute"
                class= "btn btn-danger"
                (click)="deleteUser(user)"
              >
                <i class="bi bi-x-circle-fill"></i>
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
