<div
  id="table"
  class="
    col
    justify-content-center
    container
    bg-danger
    text-center
    text-white
    margin-auto
    p-0
  "
>

  <div
    id="buttons"
    class="
      row
    "
  >
    <button
      class="
        col
        btn
        btn-outline-secondary
      "
      [ngClass]="
        { 'btn-dark': signIn }
      "
      (click)="onChangeSelection(true)"

    >
      Sign in
    </button>
    <button
      class="
        col
        btn
        btn-outline-secondary
      "
      [ngClass]="
        { 'btn-dark': !signIn }
      "
      (click)="onChangeSelection(false)"
    >
      Sign up
    </button>
  </div>


  <div
    *ngIf="signIn then signin;
    else signup"
  >
  </div>
  <ng-template #signin>
    <crud-users-sign-in></crud-users-sign-in>
  </ng-template>
  <ng-template #signup>
    <crud-users-sign-up></crud-users-sign-up>
  </ng-template>

</div>
