<div class="row mt-4">

  <div class="col-3">
    <shared-sidebar></shared-sidebar>
  </div>

  <div class="col mt-2 text-center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ "id" | upperCase }}</th>
          <th>{{ "Usuario" | upperCase }}</th>
          <th>{{ "Email" | upperCase }}</th>
          <th>{{ "Gif" | upperCase }}</th>
          <th>{{ "Acción" | upperCase}}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of getOtherUsers"
        >
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <div
                class="
                  justify-content-center
                  align-items-center
                  "
                >

                <img
                  *ngIf="user.favGifUrl"
                  id="gif"
                  src={{user.favGifUrl}}
                  style="
                    max-width: 32px;
                    max-height: 32px;
                  "
                  (click)="chargeLink(user.favGifUrl)"
                >
              </div>
            </td>
            <td>
              <button
                aria-label="Mute"
                class= "delete btn btn-danger"
                (click)="deleteUser(user)"
              >
                <i class="bi bi-x-circle-fill"></i>
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
